# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
jspm_packages/
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache


# dotenv environment variables file - comment on final dotenv
.env
.env.test
# Gatsby files
.cache/


package-lock.json
